---
http_interactions:
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/http://example.com?key=&v=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdata-User-Country:
      - DE
      Content-Type:
      - application/vnd.google.gdata.error+xml
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: "<errors xmlns='http://schemas.google.com/g/2005'><error><domain>GData</domain><code>invalidRequestUri</code><internalReason>Invalid
        request URI</internalReason></error></errors>"
  recorded_at: Fri, 28 Mar 2014 23:24:15 GMT
recorded_with: VCR 2.9.0
